p {
    margin: 0 auto;
}
body {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.content_wrapper {
    text-align: center;
    margin: 0 auto;
}
.fon {
    height: 768px;
    max-width: 1280px;
    background-image: url(../images/fon.png);
    text-align: center;
    margin: 0 auto;
}
.header {
    background-color: rgba(26, 23, 20, 0.5);
    height: 54px;
    text-align: left;
    font-size: 20px;
    color: #FFFFFF;
}
.journey {
    display: inline-block;
    cursor: pointer;
    float: left;
}
.journey:hover {
    color: #3CB878;
}
.icons {
    display: inline-block;
    height: 20px;
    width: 149px;
}
.first_icon {
    display: inline-block;
    background-image: url(../images/ic_caledar.png);
    height: 19px;
    width: 19px;
}
.first_icon:hover {
    background-image: url(../images/ic_caledar2.png);
    cursor: pointer;
}
.second_icon {
    display: inline-block;
    background-image: url(../images/ic_journey.png);
    height: 20px;
    width: 20px;
    margin-left: 30px;
}
.second_icon:hover {
    background-image: url(../images/ic_journey2.png);
    cursor: pointer;
}
.third_icon {
    display: inline-block;
    background-image: url(../images/ic_forum.png);
    height: 20px;
    width: 28px;
    margin-left: 30px;
}
.third_icon:hover {
    background-image: url(../images/ic_forum2.png);
    cursor: pointer;
}
.after_icons {
    margin-left: 17px;
    font-size: 14px;
    padding: 20px 0px;
    position: relative;
    bottom: 7px;
}
.registrate {
    color: #3CB878;
    text-decoration: underline;
}
.registrate:hover {
    cursor: pointer;
}
.header_content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: right;
    padding-top: 19px;
}
.content {
    width: 444px;
    margin: 63px auto;
    background-color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    border-radius: 10px;
}
.incontent_wrapper {
    text-align: center;
}
.rectangle {
    display: inline-block;
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    margin-top: 20px;
}
.first_incontent {
    display: inline-block;
    margin: 20px 200px 0px 0px;
    font-size: 20px;
    margin-left: 50px;
}
.facebook {
    background-color: #264B96;
    width: 158px;
    height: 47px;
    font-size: 16px;
    margin: 20px 10px 20px 0px;
    color: #FFFFFF;
    border-radius: 6px;
    outline: none;
}
.facebook:hover {
    cursor: pointer;
}
.google {
    font-size: 16px;
    background-color: #C3412C;
    height: 47px;
    width: 158px;
    margin: 20px 0px 20px 10px;
    color: #FFFFFF;
    border-radius: 6px;
    outline: none;
}
.google:hover {
    cursor: pointer;
}
.line {
    display: inline-block;
    height: 23px;
    width: 1px;
    background-color: gray;
    opacity: 0.5;
    margin: 0px 7px;
}
.or {
    text-align: center;
}
.or>a {
    margin: 0 14px;
}
.line2 {
    display: inline-block;
    height: 1px;
    width: 145px;
    background-color: gray;
    opacity: 0.5;
}
.text {
    width: 311px;
    height: 46px;
    margin: 9px 0px;
    border-radius: 6px;
    outline: none;
    padding-left: 12px;
}
.text:focus {
    box-shadow: -1px 3px 3px gray;
    scrollbar-shadow-color: blue;
}
.confident {
    width: 323px;
    text-align: left;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}
.account {
    width: 323px;
    text-align: center;
    background-color: #329A65;
    font-size: 16px;
    height: 46px;
    color: #FFFFFF;
    margin-bottom: 25px;
    border-radius: 6px;
    outline: none;
}
.account:hover {
    cursor: pointer;
}
/* ::-webkit-input-placeholder {
    padding-left: 12px;
} */
.inconfident {
    color: #3CB878;
}
.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 3;
}
.checkbox:hover {
    cursor: pointer;
}
.checkbox_img {
    opacity: 0;
    position: absolute;
    left: 6px;
    top: 8px;
    z-index: 1;
}
.checkbox:checked + img {
    opacity: 1;
    z-index: 3;
}
.checkbox_a:checked + img {
    opacity: 1;
    z-index: 3;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ccc;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ccc;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid #3CB878;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .top_2 {
      position: relative;
      bottom: 3px;
  }